name: Deploy Tasky to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to Server via SSH
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_HOST }} # 72.62.0.138
                  username: root
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      # 1. Backendni yangilash
                      cd ~/Tasky/Tasky.uz/api
                      git pull origin main
                      npm install
                      npm run build
                      pm2 restart tasky-api --update-env

                      # 2. Frontendni yangilash
                      cd ~/Tasky/Tasky.uz
                      git pull origin main
                      npm install
                      npm run build
                      # Nginx avtomat yangi buildni ko'radi
